<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
   integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
   <title>Mon Blog</title>
   <link rel="stylesheet" href="/style.css">
</head>

<body>

   <header class="blog-header">
      <h1 class="xl-txt"><a href="/"><i class="fa-solid fa-microphone"></i>&nbsp;Mon Blog</a></h1>

      <nav>
         <a href="/"><i class="fa-solid fa-house">&nbsp;&nbsp; home</i></a>

         <a href=" <% if(session.isLogged) { %> /admin <% } else { %> /login <% } %> ">
               <i class="fa-solid fa-gear"> admin</i></a>

         <a href="<% if(session.isLogged) { %> /logout <% } else { %> /login <% } %>">
               <i class="fa-solid fa-right-from-bracket">
               <% if(session.isLogged) { %>Logout<% } else { %>Login<% } %></i></a>  
      </nav>
      
   </header>

   <%- include(template) -%>

   <footer class="blog-footer">
      <p>Le blog des élèves de la 3WA Academy</p>
   </footer>

</body>

</html>