<main>
   <section id="admin-panel">
      <article>
         <h2>Veuillez vous identifier</h2>

      <form action="/login" method="post">
         
         <label for="Email">Identifiant :</label>
         <input type="email" name="Email">

         <label for="Password">Mot de passe :</label>
         <input type="password" name="Password">

        <% if(error !== null) { %> 
         <span class="remove"><%= error %></span>
         <% } %> 

         <a href="/register">Nouvel utilisateur ?</a>

         <input type="submit" value="Connexion">

      </form>

      </article>
   </section>
</main>
